@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Учет заказов</title>
    <script data-require="jquery" data-semver="2.0.3" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />

</head>

<body>
    <div class="wrapper">
        <div class="content">
            <nav class="nav">
                <div class="container">
                    <div class="nav__row">
                        <div class="nav__logo">
                            <a asp-action="Index" asp-controller="Home"><img src="/Img/IndexLayout/books logo.png" alt="Магазин книг"></a>
                        </div>
                        <div class="nav__desctiption_site">
                            Данный сайт является учебным и демонстрационным.
                            Он не является магазином по продаже книг как таковым.
                            Он создавался для понимания принципов создания web приложений
                            и демонстрации своих возможностей
                        </div>

                        @{ if (User.Identity.IsAuthenticated)
                            {
                                <div class="nav__user">
                                    <div class="nav__userRow">
                                        <div class="nav__userName">
                                            @User.FindFirst(i => i.Type == ClaimTypes.Name).Value
                                        </div>
                                        <div class="nav__userLogout">
                                            <a asp-action="Logout" asp-controller="Account">Выйти из системы</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="nav__basket">
                                    <a href="">
                                        <div class="nav__basketRow">
                                            <div class="nav__basketLogo">
                                                <img src="/Img/IndexLayout/shopping-basket.png" alt="Посмотреть корзину" class="nav__basketImg">
                                            </div>
                                            <div class="nav__basketText">
                                                <a asp-action="Basket" asp-controller="Basket">Открыть корзину</a>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            }
                            else
                            {<div class="nav__user"> <a asp-action="Login" asp-controller="Account">Авторизация</a> </div> }
                        }




                    </div>
                </div>
            </nav>
            <main role="main">
                <div class="container">
                    @RenderBody()
                </div>
            </main>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer__row">
                <div class="footer__text">
                    Шихов Р.В. 2021г.
                </div>
            </div>
        </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
