

.basket_checkout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    align-items:start;
}

.items-basket {
    /*border: 3px solid green;*/
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 400px;
    grid-gap: 20px;
    grid-auto-rows: auto;
}

.item-basket {
   
    display: grid;
    box-shadow: 1px 1px 17px grey;
    padding: 15px 10px;
    grid-template-columns: repeat(2, auto);
    grid-gap: 10px;
    grid-auto-rows: auto;
    align-content:start;
}

.item-basket__title {
    grid-column: 1 / 3;
    grid-row: 1 ;
    font-size: 18px;
    margin: 5px 0px;

}

.item-basket__logo {
    grid-column: 1 / 2;
    grid-row: 2 / 6;

}

    .item-basket__logo img {
        max-width: 100px
    }

    .item-basket__count {
        grid-column: 2 / 3;
        grid-row: 2/3;
    }

.item-basket__price {
    grid-column: 2 / 3;
    grid-row: 3/4;
}

.item-basket__summ {
    grid-column: 2 / 3;
    grid-row: 4/5;

}

