
main{
    display:block;
}

.buy {
    font-size: 14px;
}

.buy__grid {
    display: grid;
    /*grid-template-columns: repeat(4, 1fr);*/
    grid-template: 1fr / repeat(4,auto);
    grid-auto-rows: minmax(30px, auto);
    /*grid-auto-columns: minmax(30px, auto);*/
    grid-gap: 10px;
}

  

.buy__title {
     grid-column: 1 / 5;
     grid-row: 1;
}

.buy__logo {
    /*grid-column: 1 / 2;*/
    grid-row: 2/8;
}

.buy__description {
    grid-column: 2 / 4;
    grid-row: 2/3;
}

.buy__count_book {
    grid-row: 3/4;
}

.buy__price {
    grid-row: 4/5;
    /*border: 2px solid red;*/
}

.buy__order {
    /*border:2px solid red;*/
    padding: 10px;
    font-size: 20px;
    grid-row: 5/6;
    grid-column: 2 / 3;
    display: block;
}


